# 1-1 Intro Python Practice
##  Getting started with Python in Jupyter Notebooks
### notebooks, comments, print(), type(), addition, errors and art

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>
- use Python 3 in Jupyter notebooks
- write working code using `print()` and `#` comments  
- write working code using `type()` and variables
- combine strings using string addition (+)
- add numbers in code (+)
- troubleshoot errors
- create character art  

# &nbsp;
>**note:** the **[ ]** indicates student has a task to complete  
  
>**reminder:** to run code and save changes: student should upload or clone a copy of notebooks 

#### notebook use
- [ ] insert a **code cell** below   
- [ ] enter the following Python code, including the comment: 
```python 
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')
```
Then run the code - the output should be:  
`Hello!`

In [1]:
print("Hello!")

Hello!

#### run the cell below   
- [ ] use **Ctrl + Enter**  
- [ ] use **Shift + Enter**

In [2]:
print('watch for the cat')

watch for the cat

#### Student's Notebook editing
- [ ] Edit **this** notebook Markdown cell replacing the word "Student's" above with your name
- [ ] Run the cell to display the formatted text
- [ ] Run any 'markdown' cells that are in edit mode, so they are easier to read

#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

##  # comments
create a code comment that identifies this notebook, containing your name and the date

In [ ]:
# Francis's notebook dated of March 15, 2019

#### use print() to 
- [ ] print [**your_name**]
- [ ] print **is using python!**

In [4]:
# [ ] print your name

# [ ] print "is using Python"

print("Francis")
print("is using Python")

Francis
is using Python

Output above should be:  
`Your Name  
is using Python!`

#### use variables in print()
- [ ] create a variable **your_name** and assign it a string containing your name
- [ ] print **your_name**

In [5]:
# [ ] create a variable your_name and assign it a sting containing your name

#[ ] print your_name

your_name="Francis"
print(your_name)

Francis

#### create more string variables
- **[ ]** create variables as directed below
- **[ ]** print the variables

In [6]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number


# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number

favorite_song="Night"
shoe_size=5
lucky_number=5

print(favorite_song)
print(shoe_size)
print(lucky_number)

Night
5
5

#### use string addition
- **[ ]**  print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>for example favorite_song displayed as:  
`favorite song is happy birthday`

In [7]:
# [ ] print favorite_song with description


# [ ] print shoe_size with description


# [ ] print lucky_number with description

print("favorite song is",favorite_song)
print("shoe size is",shoe_size)
print("lucky number is",lucky_number)

favorite song is Night
shoe size is 5
lucky number is 5

##### more string addition
- **[ ]** make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** print the value of the favorite_lucky_shoe variable string
> sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [16]:
# assign favorite_lucky_shoe using


favorite_lucky_shoe="For singing "+favorite_song+" "+str(shoe_size)+" times, you will be fined $"+str(lucky_number)
print(favorite_lucky_shoe)

For singing Night 5 times, you will be fined $5

### print() art

#### use `print()` and the asterisk **\*** to create the following shapes
- [ ] diagonal line  
- [ ] rectangle  
- [ ] smiley face

In [17]:
# [ ] print a diagonal using "*"

print("       *")
print("      *")
print("     *")
print("    *")
print("   *")
print("  *")
print(" *")
print("*")
# [ ] rectangle using "*"
print("**********")
print("*        *")
print("*        *")
print("**********")

# [ ] smiley using "*"

print("*               *")
print(" *             *")
print("   *         *")
print("     *  *  *  ")

       *
      *
     *
    *
   *
  *
 *
*
**********
*        *
*        *
**********
*               *
 *             *
   *         *
     *  *  *

#### Using `type()`
-**[ ]** calulate the *type* using `type()`

In [18]:
# [ ] display the type of 'your name' (use single quotes)

print(type('your name'))

<class 'str'>

In [19]:
# [ ] display the type of "save your notebook!" (use double quotes)

print(type('save your notebook!'))

<class 'str'>

In [20]:
# [ ] display the type of "25" (use quotes)

print(type('25'))

<class 'str'>

In [21]:
# [ ] display the type of "save your notebook " + 'your name'

print(type('save your notebook!'+'your name'))

<class 'str'>

In [22]:
# [ ] display the type of 25 (no quotes)

print(type(25))

<class 'int'>

In [23]:
# [ ] display the type of 25 + 10 

type(25+10)

int

In [24]:
# [ ] display the type of 1.55


type(1.55)

float

In [25]:
# [ ] display the type of 1.55 + 25

type(1.55+25)

float

#### Find the type of variables
- **[ ]** run the cell below to make the variables available to be used in other code
- **[ ]** display the data type as directed in the cells that follow

In [26]:
# assignments ***RUN THIS CELL*** before starting the section

student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [27]:
# [ ] display the current type of the variable student_name

type(student_name)

str

In [28]:
# [ ] display the type of student_age


type(student_age)

int

In [29]:
# [ ] display the type of student_grade

type(student_grade)

float

In [30]:
# [ ] display the type of student_age + student_grade

type(student_age+student_grade)

float

In [31]:
# [ ] display the current type of student_id


type(student_id)

str

In [32]:
# assign new value to student_id 


# [ ] display the current of student_id

student_id=5
print(student_id)

5

#### number integer addition

- **[ ]** create variables (x, y, z) with integer values

In [38]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x=5
y=15
z=28

- **[ ]** insert a **code cell** below
- **[ ]** create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** print the value of **xyz_sum**

In [39]:

xyz_sum=x+y+z
print(xyz_sum)

48

### Errors
- **[ ]** troubleshoot and fix the errors below

In [33]:
# [ ] fix the error 

print("Hello World!")

Hello World!

In [35]:
# [ ] fix the error 
print("strings have quotes and variables have names")

strings have quotes and variables have names

In [36]:
# [ ] fix the error 
print( "I have $" , 5)

I have $ 5

In [37]:
# [ ] fix the error 
print("always save the notebook")

always save the notebook

## ASCII art
- **[ ]** Display first name or initials as ASCII Art
- **[ ]** Challenge: insert an additional code cell to make an ASCII picture

In [ ]:
# [ ] ASCII ART

In [ ]:
# [ ] ASCII ART

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; Â© 2017 Microsoft